### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2246]:
%matplotlib notebook 

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

school_data_df = school_data_df.rename(columns={"name":"school_name"})
student_data_df = student_data_df.rename(columns={"school":"school_name"})

In [2247]:
# Combine the data into a single dataset.  

combined_data_df = pd.merge(student_data_df, school_data_df,how = "left", on=["school_name"])

combined_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2248]:
# Check to see if there are any rows with missing data (results show there are none, so we don't have to delete rows)
#note: data type shows integer
combined_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2249]:
#list school names as array 
list_school_names = combined_data_df["school_name"].unique()

list_school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [2250]:
#count schools by school name
school_count = len(list_school_names)

school_count

15

In [2251]:
#Calculate the total number of students

total_number_students=len(combined_data_df["Student ID"].unique())

total_number_students

39170

In [2252]:
#Calculate the total budget

total_budget=(combined_data_df["budget"].sum())

total_budget

82932329558

In [2253]:
# Calculate the average math score 

average_math_score=(combined_data_df["math_score"].mean())

average_math_score

78.98537145774827

In [2237]:
# Calculate the average reading score

average_reading_score=(combined_data_df["reading_score"].mean())

average_reading_score

81.87784018381414

In [2238]:
# Calculate the percentage of students with a passing math score (70 or greater)

combined_data_df["Passing Math"]=combined_data_df["math_score"]>=70
percent_passing_math=(combined_data_df["Passing Math"].mean())*100

percent_passing_math

74.9808526933878

In [2239]:
# Calculate the percentage of students with a passing reading score (70 or greater)

combined_data_df["Passing Reading"]=combined_data_df["reading_score"]>=70
percent_passing_reading=(combined_data_df["Passing Reading"].mean())*100

percent_passing_reading

85.80546336482001

In [2240]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

percent_passing_math_reading=(percent_passing_math+percent_passing_reading)/2

percent_passing_math_reading

80.39315802910392

In [2242]:
# Create a dataframe to hold the above results
District_Scoring_df =pd.DataFrame({
    "Total Schools":[school_count],
    "Total Students":[total_number_students],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score], 
    "% Passing Math":[percent_passing_math],
    "% Passing Reading":[percent_passing_reading],
    "Overall Passing Rate":[percent_passing_math_reading]},columns=["Total Schools", 
                             "Total Students", 
                             "Total Budget", 
                             "Average Math Score", 
                             "Average Reading Score", 
                             "% Passing Math", 
                             "% Passing Reading", 
                             "Overall Passing Rate"])

District_Scoring_df.head(5)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [2254]:
combined_data2_df = combined_data_df[["School ID", 
"school_name", 
"type",
"size", 
"budget", 
"Student ID",
"gender", 
"grade", 
"reading_score",
"math_score"]].copy()
combined_data2_df.head()

,School ID,school_name,type,size,budget,Student ID,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,F,9th,97,84

In [2255]:
schools_grouped_df=combined_data2_df.groupby(['school_name', "type"])

In [2256]:
#school types
school_type = combined_data2_df.set_index('school_name')['type']

school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [2257]:
#student count per school
student_count=school_name["Student ID"].count()

In [2258]:
#Budget per school

school_budget=combined_data2_df.set_index(["school_name"])["budget"]

In [2259]:
student_budget=(combined_data2_df.set_index("school_name")["budget"]/
                    combined_data2_df.set_index("school_name")["size"])

In [2267]:
#average math score per school

average_math_school=(round(combined_data2_df.groupby(["school_name"])["math_score"].mean(),2))

In [2261]:
#average reading score per school

average_reading_school=(round(combined_data2_df.groupby(["school_name"])["reading_score"].mean(),2))

In [2262]:
#calculate percent of students passing math per school, then group percent to each school 

student_passing_math=combined_data2_df.loc[combined_data2_df["math_score"]>=70]['Student ID'].count

percent_math_passing_school=(round(student_school_passing_math/student_count_school*100,2))

In [2263]:
#calculate percent of students passing reading per school, then group percent to each school 

student_passing_reading=combined_data2_df.loc[combined_data2_df["reading_score"]>=70]['Student ID'].count

percent_reading_passing_school=(round(student_school_passing_reading/student_count_school*100,2))

In [2264]:
#calculate percent of students passing math and reading per school, then group percent to each school 

overall = combined_data2_df[(combined_data2_df['reading_score'] >= 70) & (combined_data2_df['math_score'] >= 70)]['Student ID'].count()/student_count

In [2265]:
# create School Summary dataframe for display

School_Summary=pd.DataFrame({
    "School Name": [schools_grouped],
    "School Type": [school_type],
    "Total Students":[student_count],
    "School Budget": [school_budget],
    "Student Budget": [student_budget], 
    "% Passing Math":[percent_passing_math],
    "% Passing Reading":[percent_passing_reading],
    "Overall Passing Rate":[percent_passing_math_reading]})

School_Summary=[[
'Total Students',
'School Budget', 
'Student Budget',
'% Passing Math',
'% Passing Reading',
'Overall Passing Rate']]

School_Summary_df.head(10)

,School Name,School Type,Total Students,School Budget,Student Budget,% Passing Math,% Passing Reading,Overall Passing Rate
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 1910635 Huan...,school_name Huang High School 655.0 Huang ...,74.980853,85.805463,80.393158

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [1656]:
Top_Performing_Schools_Overall = School_summary_df.sort_values(["Percentage of Overall Passing Students per School"], ascending=False)
Top_Performing_Schools_Overall

KeyError: 'Percentage of Overall Passing Students per School'

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
Bottom_Performing_Schools_Overall = School_summary_df.sort_values([
    "Percentage of Overall Passing Students per School"], ascending=True)
Bottom_Performing_Schools_Overall.head(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#Create series per grade

nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

#group series by school/math score & clean data to only have two decimal places

nineth_graders_scores = nineth_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)

#create dataframe


Math_scores_grade = pd.DataFrame({"9th": nineth_graders_scores,
                                "10th":tenth_graders_scores,
                                "11th":eleventh_graders_scores,
                                "12th":twelfth_graders_scores})



Math_scores_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
#Create series per grade

nineth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

#group series by school/reading score & clean data to only have two decimal places

nineth_graders_scores = nineth_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)

#create dataframe


Reading_scores_grade = pd.DataFrame({"9th": nineth_graders_scores,
                                "10th":tenth_graders_scores,
                                "11th":eleventh_graders_scores,
                                "12th":twelfth_graders_scores})
Reading_scores_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Scores_School_Spending

bins = [0, 550, 650, 750]

#label bins

student_spending = ["<$550", "$550-650", "$650-750"]

school_summary_df["Student spending(Per Student)"] = pd.cut(Budget_per_student, bins=bins, labels=student_spending)
school_summary_df.head()

spending_math_score = school_summary_df.groupby(round(["Student spending(Per Student)"])["Average Math Score"].mean(),2)
spending_reading_score = school_summary_df.groupby(round(["Student spending(Per Student)"])["Average Reading Score"].mean(),2)
spending_passing_math = school_summary_df.groupby(round(["Student spending(Per Student)"])["% Passing Math"].mean(),2)
spending_passing_reading = school_summary_df.groupby(round["Student spending(Per Student)"])['% Passing Reading'].mean(),2
overall_passing_rate = (spending_passing_math + spending_passing_reading)/2

#Define dataframe
scores_school_spending = pd.DataFrame ({"Average Math Score": spending_math_score,
    "Average Reading Score": spending_reading_score,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_rate})

scores_school_spending

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
bins=(0,1000,2000,3000)

#label bins
School_size_scores=["0-1000", "1000-2000","2000-3000"]


scores_school_size_df = school_summary_df
scores_school_size_df["School Size"] = pd.cut(student_count, bins=bins, labels=School_size_scores)
scores_school_size_df

spending_math_score = scores_school_size_df.groupby(round(["School Size"])["Average Math Score"].mean(),2)
spending_reading_score = scores_school_size_df.groupby(round(["School Size"])["Average Reading Score"].mean(),2)
spending_passing_math = scores_school_size_df.groupby(round(["School Size"])["% Passing Math"].mean(),2)
spending_passing_reading = scores_school_size_df.groupby(round(["School Size"])['% Passing Reading'].mean(),2)
overall_passing_rate = round((spending_passing_math + spending_passing_reading)/2,2)

#define dataframe
scores_school_size = pd.DataFrame ({"Average Math Score": spending_math_score,
    "Average Reading Score": spending_reading_score,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_rate})

scores_school_size_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
Scores_School_Type = school_summary_df[["School Type",
                                        "Average Math Score",
                                        "Average Reading Score", 
                                        "% Passing Math", 
                                        "% Passing Reading", 
                                        "% Overall Passing Rate"]]
Scores_School_Type = round(Scores_School_Type.groupby('School Type').mean(),2)
Scores_School_Type_df

In [ ]:
##Above not printing because school_summary_df is not displaying the graph